{% extends "master_tpl.html" %}
{% block page_title %}Administrator Page for MaadRMS{% endblock page_title %}
{% block page_links %}
{% endblock page_links %}
{% block page_header %}
    <br/>
    <span style="color: yellow">Administrator System</span>
{% endblock page_header %}
{% block page_body %}
    {% if currentProcess %}
        {% if currentProcess == 'default' %}
            <ul data-role="listview">
                <li><a href="/admin/add">Add User</a></li>
                <li><a href="/admin/update">Update User</a></li>
                <li><a href="/admin/remove">Delete User</a></li>
            </ul>
        {% elif currentProcess == 'add' %}
                <h2>Add User....</h2>
                <form id='addForm1'>
                    <label for="text-username">Username:</label>
                    <input name="text-username" id="text-username" value="" placeholder="username" type="text" />
                    <label for="text-firstname">First Name:</label>
                    <input name="text-firstname" id="text-firstname" value="" placeholder="John" type="text" />
                    <label for="text-lastname">Last Name:</label>
                    <input name="text-lastname" id="text-lastname" value="" placeholder="Smith" type="text" />
                </form>
        {% endif %}
        {% if obj1 %}
            <ul data-role="listview">
                {% for cat in obj1 %}
                    <li><a href="#" >{{ cat }}</a></li>
                {% endfor %}
            </ul>
        {%  endif %}
    {% endif %}
{% endblock page_body %}
{% block page_footer %}
{% endblock page_footer %}