{% extends "master_tpl.html" %}
{% block page_title %}Main Menu for MaadRMS{% endblock page_title %}
{% block page_header %} {% endblock page_header %}
{% block page_links %}
    <ul>
        <li><a href="/admin" class="ui-btn-active">Admin</a></li>
        <li><a href="/manager">Manager</a></li>
        <li><a href="/bar">Bar</a></li>
        <li><a href="/servers">Servers</a></li>
        <li><a href="/kitchen">Kitchen</a></li>
        <li><a href="/order">Order</a></li>
    </ul>
    <a href="#openmenu" data-rel="close">Close panel</a>
{% endblock page_links %}
{% block page_body %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock page_body %}
{% block page_footer %}
{% endblock page_footer %}