{% extends "master_tpl.html" %}
{% block page_title %}Main Menu for MaadRMS{% endblock page_title %}
{% block page_header %} {% endblock page_header %}
{% block page_links %}
    <a href="/admin">Admin Menu</a>
    <a href="/manager">Manager Menu</a>
    <a href="/bar">Bar Menu</a>
    <a href="/servers">Server Menu</a>
    <a href="/kitchen">Kitchen Menu</a>
    <a href="/order">Order Menu</a>
{% endblock page_links %}
{% block page_body %}

{% endblock page_body %}
{% block page_footer %}
{% endblock page_footer %}