<!DOCTYPE html>
<html>
<head>
    <title>{% block page_title %}{% endblock page_title %}</title>
    <link rel="stylesheet" href="/static/main.css" type="text/css" />
    {% block page_header %}{% endblock page_header %}
</head>
<body>
    <div id="logo" ><img src="/static/images/MaadRMSLogo.png" /></div>
    {% if session['username'] %}
    <div id="login_header">Logged on as {{ session['username'] }}
        <a href="/logout" id="logout_link" >Log out</a>
    </div>
    {%  else %}
    <div id="login_header"><a href="/login" id="login_link" >Login</a></div>
    {% endif %}
    <nav id="links">
        {% block page_links %}
        {% endblock page_links %}
    </nav>
    <div id="content">
        {% block page_body %}
        {% endblock page_body %}
    </div>
<footer>
    {% block page_footer %}{% endblock page_footer %}
</footer>
</body>
</html>