{% extends "master_tpl.html" %}
{% block page_title %}Server Page for MaadRMS{% endblock page_title %}
{% block page_header %}
    <script type="text/javascript" src="/static/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="/static/server_page.js"></script>
{% endblock page_header %}
{% block page_links %}
    <a href="/admin">Admin Menu</a><br/>
    <a href="/manager">Manager Menu</a><br/>
    <a href="/bar">Bar Menu</a><br/>
    <a href="/servers">Server Menu</a><br/>
    <a href="/kitchen">Kitchen Menu</a><br/>
    <a href="/order">Order Menu</a><br/>
{% endblock page_links %}
{% block page_body %}
    {% if obj is not None %}
    {% else %}
    {% endif %}
{% endblock page_body %}
{% block page_footer %}
{% endblock page_footer %}